@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');






body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}



:root {
  --DARKPRIMARY:#0288D1,
  --LIGHTPRIMARY:#B3E5FC,
  --PRIMARY:#03A9F4,
  --Text-Icon:##FFFFFF,
  --Accen: ##448AFF,
  --PrimaryText:#212121,
  --SECONDARYTEXT:#75757
  --Divider:#BDBDBD

  /**oscuro*

     --DARKPRIMARY:#616161,
  --LIGHTPRIMARY:F5F5F5,
  --PRIMARY:#9E9E9E,
  --Text-Icon:#212121,
  --ACCENT: #9E9E9E,
  --PRYMARYTEXT:#212121,
  --SECONDARTEXT:#757575,
  --DIVIDER:#BDBDBD
}
  */
}

h1{
  font-size: 0.9rem!important;
  text-align: center;

}

h1,h2{
  font-weight: 400;
}

a{
  font-size: 1.5em!important;
}


.color{
  color: #0288D1;
}

/**header*/
.navbar img{
  border-radius: 50%;
  width: 5rem;
  height: 60px;
  margin-left: 40px;
}

.bgLigth{
  background-color: #0288D1!important;
 }

 .bgLigth h1, a{
   color: #fff!important;
   font-family: 'Poppins', sans-serif;
 }

 .bgDark{
   background-color: #616161
 }

 .btnLigth{
   border: 1px #fff solid!important;
   color: #0288D1!important;
   background-color:#fff!important;
 }

 .btnLigth:hover{
   background-color:#0288D1!important;
   color: #fff!important;
   border: 1px #fff solid;
 }

 .btnDark{
  background-color: #fff!important;
  color: #616161!important;
  border: 1px #fff solid!important;
  color: #fff;
}

.btnDark:hover{
 background-color: #616161!important;
 color:#fff!important;
 border: 1px #fff solid;
}

.bloque{

 visibility: hidden;

}